<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <div>
                    <img src="image/веста.png" alt="Диван Веста" width="200">
                    <div>
                        <p>Диван "Веста"</p>
                        <div>32 000 ₽</div>
                        <button>Купить</button>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <img src="image/пикассо.png" alt="Диван Пикассо" width="200">
                    <div>
                        <p>Диван "Пикассо"</p>
                        <div>32 000 ₽</div>
                        <button>Купить</button>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <img src="image/monako.png" alt="Диван Monako" width="200">
                    <div>
                        <p>Угловой диван Monako New</p>
                        <div>59 990 ₽</div>
                        <button>Купить</button>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <img src="image/п-образный.png" alt="П-образный диван New" width="200">
                    <div>
                        <p>П-образный диван New</p>
                        <div>68 990 ₽</div>
                        <button>Купить</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</main>
</body>
</html>