<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диваны</title>
</head>
<body>
<main>
        <div style="padding: 20px; display: flex; flex-direction: row; gap: 30px; align-items: flex-start;">
            <div>
                <h3>Цена</h3>
                <select>
                    <option value="">Любая цена</option>
                    <option value="0-20000">до 20 000 ₽</option>
                    <option value="20000-40000">20 000 - 40 000 ₽</option>
                    <option value="40000-60000">40 000 - 60 000 ₽</option>
                    <option value="60000-100000">от 60 000 ₽</option>
                </select>
            </div>

            <div>
                <h3>Производитель</h3>
                <select>
                    <option value="">Все производители</option>
                    <option value="vesta">Ethan Allen</option>
                    <option value="picasso">Herman Miller</option>
                    <option value="monako">Rolf Benz</option>
                    <option value="new">Hülsta</option>
                </select>
            </div>

            <div>
                <h3>Цвет</h3>
                <select>
                    <option value="">Любой цвет</option>
                    <option value="black">Черный</option>
                    <option value="white">Белый</option>
                    <option value="gray">Серый</option>
                    <option value="brown">Коричневый</option>
                    <option value="beige">Бежевый</option>
                </select>
            </div>

            <div>
                <h3>Материал</h3>
                <select>
                    <option value="">Любой материал</option>
                    <option value="leather">Хлопок</option>
                    <option value="fabric">Лён</option>
                    <option value="eco-leather">Микрофибра </option>
                    <option value="velvet">Экокожа</option>
                </select>
            </div>
        </div>

                <div class="product-card">
                    <img src="image/веста.png" alt="Диван Веста" width="200">
                    <div class="product-info">
                        <p class="product-name">Диван "Веста"</p>
                        <div class="product-price">32 000 ₽</div>
                        <button class="add-to-cart">В корзину</button>
                    </div>
                </div>        
        
                <div class="product-card">
                    <img src="image/пикассо.png" alt="Диван Пикассо" width="200">
                    <div class="product-info">
                        <p class="product-name">Диван "Пикассо"</p>
                        <div class="product-price">32 000 ₽</div>
                        <button class="add-to-cart">В корзину</button>
                    </div>
                </div>
                
                <div class="product-card">
                    <img src="image/monako.png" alt="Диван Monako" width="200">
                    <div class="product-info">
                        <p class="product-name">Угловой диван Monako New</p>
                        <div class="product-price">59 990 ₽</div>
                        <button class="add-to-cart">В корзину</button>
                    </div>
                </div>
                
                <div class="product-card">
                    <img src="image/п-образный.png" alt="П-образный диван New" width="200">
                    <div class="product-info">
                        <p class="product-name">П-образный диван New</p>
                        <div class="product-price">68 990 ₽</div>
                        <button class="add-to-cart">В корзину</button>
                    </div>
                </div>
            </section>
        </div>
</main>
</body>
</html>